<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- CSS / JS -->
<section th:replace="common :: cssAndJS"></section>

<!-- Head -->
<head th:replace="common :: head(Register)"></head>

<script>
	var currStepNo = 3;
</script>

<body>

	<!-- Top Navigation -->
	<div th:replace="common :: topNav"></div>

	<!-- Main -->
	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>Register</h1>
				</div>
			</div>
		</div>

		<div class="well bs-component">

			<div class="alert alert-dismissable alert-danger"
				th:if="${errors != null and not #lists.isEmpty(errors)}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<!--/*/ <th-block data-th-each="error : ${errors}"> /*/-->
				<p th:text="${error}">|Error message here.|</p>
				<!--/*/ </th-block> /*/-->
			</div>

			<form method="post" th:action="@{/register}" th:object="${stormpathRegisterBean}" role="form"
				class="registration-form form-horizontal sp-form">

				<div th:each="field : ${visibleFields}" form-group="true"
					th:class="'form-group group-' + ${field.name}">
					<label class="col-md-12" th:text="${field.label}">|Field
						label|</label>

					<div class="col-md-6">
						<input th:name="${field.name}" th:attr="field = ${field.name}"
							th:type="${field.type}" th:placeholder="${field.placeholder}"
							th:required="${field.required}"
							class="form-control" />
						<span th:if="${field.name == 'password'}" class="help-block">* Minimum of 8 characters, at least one upper and at least one number.</span>
						<span th:if="${field.name == 'approverId'}" class="help-block">* Your approver can find this on their profile.</span>
					</div>
				</div>

				<div>
					<button type="submit" class="btn btn-primary"
						th:text="#{stormpath.web.register.form.button.value}">|Register|
					</button>
				</div>

			</form>

		</div>

	</div>
</body>

</html>